/* v0.12 */
.keybucket-display{
    background-color: rgb(235, 230, 230);
    color: black;
    border-color: black;
    border-width: 1px; 
    border-style: solid; 
    font-size: 1.7rem;
    min-height: 4rem; 
    max-height: 4rem;
    width:100%;
  }
  .previous-display{
    background-color: rgb(235, 230, 230);
    color: black;
    border-color: black;
    border-width: 1px; 
    border-style: solid; 
    width:100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .calculator-display{
    background-color: black;
    font: 300;
    font-size: 2.3rem;
    max-height: 5rem;
    min-height: 5rem;;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
    border-color: black;
    border-width: 1px; 
    border-style: solid; 
    width:100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .status-display{
    border:solid; 
    border-width:1px; 
    border-color: fuchsia; 
    height:1.2rem;
    max-height: 1.2rem;
    width:100%;
  }
 /* https://fonts.google.com/icons?icon.query=history */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
